.navbar {
    display: flex;
    justify-content: space-between;
    /* position: relative; */
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-brand:hover {
    cursor: pointer;
}
